<!DOCTYPE html>
<html lang="en" ng-app="ScuiApp">
    <head>
        <meta charset="UTF-8">
        <title>Shared Collections UI</title>

<!--        Ionic Libs-->
        <link rel="stylesheet" href="lib/ionic/css/ionic.css">
        <script src="lib/ionic/js/ionic.bundle.js"></script>

<!--        My app-->
        <link rel="stylesheet" href="css/style.css">
        <script src="js/app.js"></script>

    </head>
    <body>

        <ion-header-bar class="bar-royal">
            <h1 class="title">Shared Collections</h1>
        </ion-header-bar>

        <ion-content ng-controller="ListCtrl">
            <div id="wrap">
                <div id="status">
                   <div id="addCollection">
                        <button class="button" style="float:left" ng-click="createCollection()">
                           <i class="icon ion-plus-round"></i>
                            <i class="icon ion-ios-folder-outline"></i>
                        </button>
                        <input type="text" style="float:left" ng-model="collectionname">
                    </div>
                   <div id="addFile">
                        <button class="button" ng-click="uploadFile()">
                           <i class="icon ion-plus-round"></i>
                            <i class="icon ion-ios-paper-outline"></i>
                        </button>
                        <input type="file" class="custom-file-input" file-model="myFile">
                    </div>
                </div>

                <div id="fileList">
                    <ion-list>
                       <ion-item class="item-icon-right">
                           {{currentCollection.names}}
                           <button class="button" ng-click="goBackCollection()">up</button>
                       </ion-item>
                        <ion-item  ng-repeat="metadata in metadataList" class="item-icon-right">
                            <button class="button" ng-click="goToCollection($index)">{{metadata.name}}
                            <label data-ng-show={{metadata.collectionFlag}}>/</label>
                            </button>
                            <i class="icon ion-chevron-right icon-accessory">
                                <button class="button" ng-click="deleteFile($index)">Delete</button>
                                <button class="button" ng-click="updateFile($index)">Update</button>
                            </i>
                        </ion-item>
                    </ion-list>
<!--
                    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()" distance="1%">
                    </ion-infinite-scroll>
-->
                </div>
            </div>


        </ion-content>

    </body>
</html>
